
:root {
    --etable-color1: #587e76;
}


.e-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 300px;
	border-radius: 3px 3px 0 0;
	width:100%;
	overflow: hidden;
}

.e-table thead tr {
	background-color: var(--etable-color1);
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

.e-table th,
.e-table td {
	padding: 6px 5px;
}

.e-table tbody tr {
	border-bottom: 1px solid #dddddd
}

.e-table.striped tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.e-table tfoot tr:last-of-type {
	border-bottom: 2px solid var(--etable-color1);
}

.e-table tbody tr:last-of-type,
.e-table tbody tr.vs {
	border-bottom: 2px dashed #dddddd;
}
.e-table tfoot tr:first-of-type {
	border-top: 2px dashed #dddddd;
}

.e-table .btn {
    position: absolute;
    background-color: #FFBA08;
    border: 1px solid;
    color:#52796F;
    margin-right: 5px;
    margin-left: 2px;
}

.e-table .btn:hover {
    background-color: #52796F;
    color: #FFBA08;
    border: 1px solid;
    transition: all .35s;
}

.etable-filterBox {
    position:absolute;
    max-height: 250px;
    height: 150px;
    background-color: #e0ddd0e0;
    width: 200px;
    overflow: auto;
    border-radius: 10px;
    border: 3px solid #FFBA08;
    padding-top:3px;
}

.etable-filterBox div.header {
    text-align: center;
    max-height: 10%;
}

.etable-filterBox div.body {
    overflow-y:auto;
    margin-top: 3%;
    max-height: 80%;
    align-self: center;
}


