
:root {
    --etable-color:             #587e76;
    --etable-border-color:      #ff2222;
    --etable-yellow:            #f3ce29;
    --etable-white-creamy:      #fffceb;
    --etable-white:             #ffffff;
    --etable-superlight-gray:   #f7f7f7;
    --etable-light-gray:        #d4d4d4;
    --etable-middle-gray:       #b4b4b4;
    --etable-gray:              #999999;
    --etable-dark-gray:         #444444;
}


.e-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 300px;
	border-radius: 3px 3px 0 0;
    border-style: 3px solid var(--etable-border-color);
	width:100%;
	overflow: hidden;
}

.e-table thead tr {
	background-color: var(--etable-color);
	color: var(--etable-white);
	text-align: left;
	font-weight: bold;
}

.e-table thead .ebtn {
    border-radius: 30px;
    float: right;
    margin-right: 3px;
}

.e-table thead td {
    border-left: 1px solid var(--etable-gray);
    border-bottom: 2px solid var(--etable-light-gray);
    border-right: 1px solid var(--etable-light-gray);
}

.e-table td {
    border-left: 1px dashed var(--etable-light-gray)
}

.e-table th,
.e-table td {
	padding: 6px 5px;
}

.e-table tbody tr {
	border-bottom: 1px solid #dddddd
}

.e-table tbody tr.group-parent,
.e-table tbody tr.group-parent-child {
    background-color: var(--etable-superlight-gray);
    transition: all 0.35s;
}


.e-table tbody tr.group-parent_1 td:first-of-type {
    padding-left: 10px;
}

.e-table tbody tr.group-parent_2 td:first-of-type {
    padding-left: 20px;
}

.e-table tbody tr.group-parent_3 td:first-of-type {
    padding-left: 30px;
}
.e-table tbody tr.group-parent_4 td:first-of-type {
    padding-left: 40px;
}

.e-table tbody tr.group-parent:hover,
.e-table tbody tr.group-parent-child:hover {
    background-color: var(--etable-white-creamy);
}

.e-table tbody tr:not(group-parent) {
    transition: all 0.5s ease-out;
}

.e-table tbody tr.collapsed,
.e-table tbody tr.group-parent-child.collapsed {
    display: none;
}


.e-table.striped tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.e-table tfoot tr:last-of-type {
	border-bottom: 2px solid var(--etable-color);
}

.e-table tbody tr:last-of-type,
.e-table tbody tr.vs {
	border-bottom: 2px dashed #dddddd;
}
.e-table tfoot tr:first-of-type {
	border-top: 2px dashed #dddddd;
}

.e-table .ebtn {
    background-color: var(--etable-gray);
    border: 1px solid var(--etable-dark-gray);
    color: var(--etable-color);
    margin-right: 2px;
    margin-left: 2px;
    transition: all .5s;
}

.e-table .ebtn:hover {
    background-color: var(--etable-light-gray);
    border: 1px solid var(--etable-border-color);
}

.etable-filterBox {
    position:fixed;
    max-height: 350px;
    max-width: 350;
    background-color: var(--etable-light-gray);
    opacity: 0.95;
    width: 280px;
    height: 300px;
    overflow: auto;
    border-radius: 10px;
    border: 3px solid var(--etable-yellow);
    padding-top:3px;
    margin-top:10px
}

.etable-filterBox div.header {
    /*text-align: center;*/
    display:inline-block;
    max-height: 10%;
    margin-bottom: 8px;
}

.etable-filterBox div.body {
    overflow-y:auto;
    max-height: 80%;
    align-self: center;
}

.etable-filterBox div.body > div {
    border-bottom: 1px solid var(--etable-middle-gray);
}


